

:root {
  --vilager-border-blue: #89cff0;
  --vilager-border-pink: #ffc1cc;
  --primary-background: #fdf8e7;
  --primary-text: #6b5c43;
  --tom-nook-color: #945e52; /* Colorpicked */
}

* {
  box-sizing: border-box;
  color: var(--primary-text);
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
/* For mobile view */
@media (max-width: 450px) {
  body {
    font-size: 14px;
  }
}
